# SQL Server
SQLSERVER_HOST=host_sql_server
SQLSERVER_PORT=puerto_sql_server
SQLSERVER_USER=user_sql_server
SQLSERVER_PASSWORD=password_sql_server
SQLSERVER_DATABASE=database_sql_server(master)

# Puertos host
SQLSERVER_EXTERNAL_PORT=puerto_sql_external
BACKEND_EXTERNAL_PORT=puerto_backend_external
FRONTEND_EXTERNAL_PORT=puerto_frontend_external
ADMINER_EXTERNAL_PORT=puerto_administrador_sql_external

# Modo de la aplicación
mode=modo_aplicación

# clave secreta del jwt
JWT_SECRET=clave_secreta_jwt
JWT_ALGORITHM=algoritmo
JWT_EXPIRATION_HOURS=tiempo_expire_horas